<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Item Register</title>
  <style>
    .input-group-text {
      width: 130px;
    }
  </style>

</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Item Register
        </div>
        <div class="card-body">
          <form action="/item/register" method="post"
                th:object="${itemFormDTO}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <!-- Item Name -->
            <div class="input-group mb-3">
              <span class="input-group-text">Item Name</span>
              <input type="text" th:field="*{itemNm}" class="form-control"/>
              <div th:if="${#fields.hasErrors('itemNm')}"
                   th:text="${#fields.errors('itemNm')[0]}"
                   class="fieldError"></div>
            </div>

            <!-- Price -->
            <div class="input-group mb-3">
              <span class="input-group-text">Price</span>
              <input type="number" th:field="*{price}" class="form-control"/>
              <div th:if="${#fields.hasErrors('price')}"
                   th:text="${#fields.errors('price')[0]}"
                   class="fieldError"></div>
            </div>

            <!-- Stock Number -->
            <div class="input-group mb-3">
              <span class="input-group-text">Stock Number</span>
              <input type="number" th:field="*{stockNumber}" class="form-control"/>
              <div th:if="${#fields.hasErrors('stockNumber')}"
                   th:text="${#fields.errors('stockNumber')[0]}"
                   class="fieldError"></div>
            </div>

            <!-- Item Detail -->
            <div class="input-group mb-3">
              <span class="input-group-text">Item Detail</span>
              <textarea class="form-control" rows="5" th:field="*{itemDetail}"></textarea>
              <div th:if="${#fields.hasErrors('itemDetail')}"
                   th:text="${#fields.errors('itemDetail')[0]}"
                   class="fieldError"></div>
            </div>

            <!-- Item Sell Status -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="itemSellStatus">Item Sell Status</label>
              <select class="form-select" id="itemSellStatus" th:field="*{itemSellStatus}">
                <option value="SELL">SELL</option>
                <option value="SOLD_OUT">SOLD_OUT</option>
              </select>
            </div>

            <!--추가된 부분-->
            <div class="input-group mb-3">
              <span class="input-group-text">Images</span>
              <div class="float-end uploadHidden">
                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
              </div>
            </div>

            <div class="my-4">
              <div class="float-end">
                <button type="submit" class="btn btn-primary submitBtn">저장</button>
                <button type="reset" class="btn btn-secondary">초기화</button>
              </div>
            </div>
          </form>
        </div><!--end card body-->
      </div><!--end card-->
    </div><!-- end col-->
  </div><!-- end row-->

  <!—- 첨부 파일 섬네일을 보여줄 부분 -->
  <div class="row mt-3">
    <div class="col ">
      <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
      </div>
    </div>
  </div>

  <!—- 첨부파일 추가를 위한 모달창 -->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" multiple >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">Upload</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn" >Close</button>
        </div>
      </div>
    </div>
  </div><!-- register modal -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/upload.js"></script>

</div> <!-- layout fragment end -->

<script layout:fragment="script" th:inline="javascript">

  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''

  if(errors){
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
    }
    //alert(errorMsg)
  }

  //업로드 모달
  const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

  document.querySelector(".uploadFileBtn").addEventListener("click", function(e){
    e.stopPropagation()
    e.preventDefault()
    uploadModal.show()

  }, false)

  //파일 업로드 버튼 클릭
  document.querySelector(".uploadBtn").addEventListener("click", function(e){
    const formObj = new FormData();

    const fileInput = document.querySelector("input[name='files']")

    console.log(fileInput.files)

    const files = fileInput.files
    for (let i = 0; i < files.length; i++) {
      formObj.append("files", files[i]);
    }
    console.log('formObj', formObj)

    uploadToServer(formObj).then(result => {
      console.log('result : ', result)
      for (const uploadResult of result) {
        console.log('uploadResult', uploadResult)
        showUploadFile(uploadResult)
      }
      uploadModal.hide()
    }).catch(e => {
      uploadModal.hide()
    })

  },false)

  const uploadResult = document.querySelector(".uploadResult")

  // 섬네일을 보여주는 함수
  function showUploadFile({uuid, fileName, link}){ /* uploadResult의 객체를 받아서 uuid, fileName, link를 변수로 사용할 수 있게 해준다. */

    const str =`<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body">
                 <img src="/view/${link}" data-src="${uuid+"_"+fileName}" >
            </div>
        </div><!-- card -->`

    uploadResult.innerHTML += str
  }


  // 이미지 삭제 함수
  function removeFile(uuid,fileName, obj){

    console.log(uuid)
    console.log(fileName)

    console.log(obj)

    const targetDiv = obj.closest(".card")

    removeFileToServer(uuid, fileName).then(data => {
      targetDiv.remove()
    })
  }

  document.querySelector(".submitBtn").addEventListener("click", function(e){

    e.preventDefault()
    e.stopPropagation()

    const target = document.querySelector(".uploadHidden")

    const uploadFiles = uploadResult.querySelectorAll("img")

    let str = ''

    for (let i = 0; i < uploadFiles.length ; i++) {
      const uploadFile = uploadFiles[i]
      const imgLink = uploadFile.getAttribute("data-src")

      str += `<input type='hidden' name='fileNames' value="${imgLink}">`
    }

    target.innerHTML = str;

    const formObj = document.querySelector("form");

    formObj.submit();
    formObj.reset();

  }, false)


</script>
